:root {
  --white: #ffffffaf;
  --gray: #ffffff88;
  --border: #ffffff3d;
}

* {
  font-family: "Work Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #ffffffaf;
  font-weight: 900;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  border: 6px solid var(--border);
  border-radius: 2rem;
}

small {
  font-size: 1.25rem;
}

[invisible="true"] {
  visibility: hidden;
}

.secondary {
  font-size: 2rem;
  color: var(--gray);
}

.primary-huge {
  font-size: 3.5rem;
  color: var(--white);
}

.primary {
  font-size: 3rem;
  color: var(--white);
}
